<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ref-groupe-activite-heading">Create or edit a Ref Groupe Activite</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rGACode">R GA Code</label>
                    <input type="text" class="form-control" name="rGACode" id="field_rGACode"
                           formControlName="rGACode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rGALibCourt">R GA Lib Court</label>
                    <input type="text" class="form-control" name="rGALibCourt" id="field_rGALibCourt"
                           formControlName="rGALibCourt"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rGALibLong">R GA Lib Long</label>
                    <input type="text" class="form-control" name="rGALibLong" id="field_rGALibLong"
                           formControlName="rGALibLong"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rGAComm">R GA Comm</label>
                    <input type="text" class="form-control" name="rGAComm" id="field_rGAComm"
                           formControlName="rGAComm"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
