<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ref-acte-gestion-heading">Create or edit a Ref Acte Gestion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rAGCode">R AG Code</label>
                    <input type="text" class="form-control" name="rAGCode" id="field_rAGCode"
                           formControlName="rAGCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rAGLibCourt">R AG Lib Court</label>
                    <input type="text" class="form-control" name="rAGLibCourt" id="field_rAGLibCourt"
                           formControlName="rAGLibCourt"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rAGLibLong">R AG Lib Long</label>
                    <input type="text" class="form-control" name="rAGLibLong" id="field_rAGLibLong"
                           formControlName="rAGLibLong"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rAGComm">R AG Comm</label>
                    <input type="text" class="form-control" name="rAGComm" id="field_rAGComm"
                           formControlName="rAGComm"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
